/* styles/mobile.css */

/* Apply styles for devices with a maximum width of 640 pixels (sm) */
@media screen and (max-width: 640px) {
  /* Adjust the padding for the project grid on mobile */
  #projects {
      padding-top: 180px;
      margin-top: 180px;
  }

  /* Center the card content on mobile */
  .min-h-screen.flex.justify-center.items-center {
      flex-direction: column;
      align-items: center; /* Add align-items to properly center */
  }

  /* Adjust the card's width and padding on mobile */
  .w-auto.h-auto.bg-[#B968FF].rounded-lg.shadow-lg.p-6.flex {
      max-width: 90%;
      padding: 20px;
  }
}

/* Ensure the root element takes up 100% height */
#root { 
  height: 100%; 
}

/* Set height and position to body and html */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
